.section-container {
    @include for-small-phone {
    padding-left: 10px;
    padding-right: 10px;
}

@include for-phone-only {
        padding-left: 42px;
        padding-right: 42px;
    }

@include for-tablet-up {
    padding-left: 71px;
    padding-right: 71px;
}

@include for-desktop-up {
    padding-left: 80px;
    padding-right: 80px;
}
}