<section class="about">
  <div class="container">
    <h2 class="about__title">Про Нас</h2>
    <img
      class="about__image"
      src="./images/aboutUs.mobile.jpg"
      alt="cleaning woman"
    />
    <h3 class="about__second-title">Тримаємо ваш простір в чистоті</h3>
    <p class="about__description">
      Ми розуміємо, що кожне приміщення має свої особливості та вимоги.
      Працівники завджди готові вислухати ваші потреби і забезпечити
      індивідуальний підхід до кожного замовлення. Ваші побажання та вимоги
      будуть враховані, щоб забезпечити вам максимальне задоволення від
      результату.
    </p>
  </div>
</section>
