<section class="feedback">
  <h2>відгуки наших клієнтів</h2>
  <div class="feedback__card">
    <img class="feedback__photo" src="./images/client-photo1.png" alt="" />
    <h3>Анастасія</h3>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <p>
      Повністю задоволена, провели чудову роботу. Замовляла миття вікон після
      ремонту в квартирі, помили так, як до цього ніхто не мив. Рекомендую!
    </p>
  </div>
  <div class="feedback__card">
    <img class="feedback__photo" src="./images/client-photo2.png" alt="" />
    <h3>Володимир</h3>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <p>
      Дуже давно користуємося сервісом МийОК, замовляємо миття вітрин та вікон у
      нашому магазині в торговому центрі. Співробітники ще ні разу не підводили
      з якістю.
    </p>
  </div>
  <div class="feedback__card">
    <img class="feedback__photo" src="./images/client-photo3.png" alt="" />
    <h3>Андрій</h3>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <p>
      Прибрали квартиру просто чудово, все блистить, я просто шокований. Не
      очікував, що буде настільки ідеально. Зекономили мені нерви та час. Дякую!
    </p>
  </div>
  <div class="feedback__card">
    <img class="feedback__photo" src="./images/client-photo3.png" alt="" />
    <h3>Вікторія</h3>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <p>
      Перший раз користувалась послугами цієї компанії і якщо чесно, була
      приємно вражена, тому що клінери перевершили всі мої очікування. Хочу лиш
      висловити свою подяку!
    </p>
  </div>
</section>
