<section class="feedback">
  <div class="feedback__card">
    <img class="feedback__photo" src="./images/client-photo1.png" alt="" />
    <h3>Анастасія</h3>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <svg width="16" height="16">
      <use href="./images/symbol-defs.svg#icon-star"></use>
    </svg>
    <p>
      Повністю задоволена, провели чудову роботу. Замовляла миття вікон після
      ремонту в квартирі, помили так, як до цього ніхто не мив. Рекомендую!
    </p>
  </div>
  <div></div>
  <div></div>
  <div></div>
</section>
