<section class="feedback section-container">
  <div class="blue__bg"></div>
  <h2 class="feedback__title">відгуки наших клієнтів</h2>
  <div class="feedback-swiper swiper">
    <div class="swiper-wrapper">
      <div class="feedback__card swiper-slide">
        <img
          class="feedback__card__photo"
          src="./images/client-photo1.png"
          alt=""
        />
        <h3 class="feedback__card__name">Анастасія</h3>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="feedback__card__text">
          Повністю задоволена, провели чудову роботу. Замовляла миття вікон
          після ремонту в квартирі, помили так, як до цього ніхто не мив.
          Рекомендую!
        </p>
      </div>
      <div class="feedback__card swiper-slide">
        <img class="feedback__photo" src="./images/client-photo2.png" alt="" />
        <h3 class="feedback__card__name">Володимир</h3>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="feedback__card__text">
          Дуже давно користуємося сервісом МийОК, замовляємо миття вітрин та
          вікон у нашому магазині в торговому центрі. Співробітники ще ні разу
          не підводили з якістю.
        </p>
      </div>
      <div class="feedback__card swiper-slide">
        <img class="feedback__photo" src="./images/client-photo3.png" alt="" />
        <h3 class="feedback__card__name">Андрій</h3>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="feedback__card__text">
          Прибрали квартиру просто чудово, все блистить, я просто шокований. Не
          очікував, що буде настільки ідеально. Зекономили мені нерви та час.
          Дякую!
        </p>
      </div>
      <div class="feedback__card swiper-slide">
        <img class="feedback__photo" src="./images/client-photo3.png" alt="" />
        <h3 class="feedback__card__name">Вікторія</h3>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <svg width="16" height="16">
          <use href="./images/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="feedback__card__text">
          Перший раз користувалась послугами цієї компанії і якщо чесно, була
          приємно вражена, тому що клінери перевершили всі мої очікування. Хочу
          лиш висловити свою подяку!
        </p>
      </div>
    </div>
  </div>
</section>
