<footer class="footer section-container">
  <a class="footer__logo" href="#"><img src="./images/Logo.png" alt="logo" /></a>
  <ul class="footer__nav">
    <li class="footer__nav__item">Головна</li>
    <li class="footer__nav__item">Послуги та Ціни</li>
    <li class="footer__nav__item">Про Нас</li>
    <li class="footer__nav__item">Відгуки</li>
  </ul>
  <ul class="footer__contacts">
    <li class="footer__contacts__item">
      <svg class="" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-call" class=""></use>
      </svg>
      <a class="" href="tel:+380504562801"> +380(50)45-62-801 </a>
    </li>
    <li class="footer__contacts__item">
      <svg class="" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-mail" class=""></use>
      </svg>
      <a class="" href="mailto:muyok@gmail.com"> muyok@gmail.com </a>
    </li>
    <li class="footer__contacts__item">
      <svg class="" width="24" height="24">
        <use
          href="./images/symbol-defs.svg#icon-instagram"
          class="header__mobile-menu"
        ></use>
      </svg>
      <a class="" href="">muyok_cleaning</a>
    </li>
  </ul>
</footer>
