<header class="header">
  <div class="header__mobile">
    <img src="./images/Logo.png" alt="logo" />
    <button class="header__menu-burger js-open-menu" type="button">
      <svg class="header__icon" width="26" height="18">
        <use
          href="./images/symbol-defs.svg#icon-menu"
          class="header__mobile-menu"
        ></use>
      </svg>
    </button>
  </div>
</header>

<div class="mobile__menu js-menu-container">
  <div class="mobile__menu_background">
    <ul class="mobile__menu-list">
      <li class="mobile__menu-item">Ціни та послуги</li>
      <li class="mobile__menu-item">Відгуки</li>
      <li class="mobile__menu-item">Контакти</li>
    </ul>
    <ul class="mobile__menu-contacts">
      <li class="mobile__menu-contacts-item">
        <a class="mobile__menu-contacts-link tel" href="tel:+380504562801">
          +380(50)45-62-801
        </a>
      </li>
      <li class="mobile__menu-contacts-item">
        <a class="mobile__menu-contacts-link" href="mailto:muyok@gmail.com">
          muyok@gmail.com
        </a>
      </li>
      <li class="mobile__menu-contacts-item">
        <a class="mobile__menu-social-link" href="">muyok_cleaning</a>
      </li>
    </ul>
  </div>
</div>
