<section class="hero">
  <div class="hero__content">
    <h1 class="hero__title">Професійний сервіс клінінгу у Києві</h1>
    <p class="hero__description">
      Миття вікон, фасадів, вітрин, прибирання приміщень, інші види клінінгових
      робіт
    </p>
    <button class="hero__button js-open-modal" type="button">
      Замовити прибирання
    </button>
    <div class="backdrop is-hidden js-modal">
      <div class="modal">
        <button type="button" class="modal__close js-close-modal">
          <svg width="26" height="18">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
        <div class="modal_form">
          <div class="modal__bg"></div>
          <form name="ordering__form">
            <div class="ordering__form__field">
              <input
                id="user-name"
                class="ordering__form__input"
                type="text"
                name="user-name"
                placeholder="Ім'я"
              />
              <input
                id="tel"
                class="ordering__form__input"
                type="tel"
                name="user-tel"
                placeholder="+380 (00) 00 00 000"
              />
              <button type="submit" class="ordering__button">
                Залишити заявку
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
