<section class="service">
  <div class="service__container">
    <h2 class="service__title">послуги</h2>
    <ul class="service__list">
      <li class="service__item">
        <img src="./images/img1.mobile.jpg" alt="" />
        <h3 class="service__item__title">Прибирання приміщень після ремонту</h3>
        <p>Bід 35 грн грн за м2</p>
      </li>
      <li class="service__item">
        <img src="./images/img2.mobile.jpg" alt="" />
        <h3 class="service__item__title">Генеральне прибирання</h3>
        <p>Bід 35 грн грн за м2</p>
      </li>
      <li class="service__item">
        <img src="./images/img3.mobile.jpg" alt="" />
        <h3 class="service__item__title">Миття вікон в квартирі (будинку)</h3>
        <p>Bід 1200 грн за виїзд</p>
      </li>
      <li class="service__item">
        <img src="./images/img4.mobile.jpg" alt="" />
        <h3 class="service__item__title">Миття вітрин/фасадів</h3>
        <p>Bід 35 грн грн за м2</p>
      </li>
      <li class="service__item">
        <img src="./images/img5.mobile.jpg" alt="" />
        <h3 class="service__item__title">
          Миття вікон в квартирі (будинку) після ремонту
        </h3>
        <p>Bід 1200 грн за виїзд</p>
      </li>
      <li class="service__item">
        <img src="./images/img6.mobile.jpg" alt="" />
        <h3 class="service__item__title">Миття вітрин/фасадів після ремонту</h3>
        <p>Bід 35 грн грн за м2</p>
      </li>
      <li class="service__item">
        <img src="./images/img7.mobile.jpg" alt="" />
        <h3 class="service__item__title">Зняття рекламної плівки</h3>
        <p>Bід 50 грн грн за м2</p>
      </li>
      <li class="service__item">
        <img src="./images/img8.mobile.jpg" alt="" />
        <h3 class="service__item__title">Інші клінінгові послуги</h3>
        <p>за домовленістю</p>
      </li>
    </ul>
  </div>
</section>
