.container {
  padding-top: 110px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about {
  &__title {
    margin-bottom: 32px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.75;
    text-transform: uppercase;

    color: #0e0e0e;

    @include for-tablet-up {
      font-size: 48px;
      line-height: 1.17;
      margin-bottom: 48px;
    }
  }

  &__image {
    margin-bottom: 16px;

    @include for-tablet-up {
      display: none;
    }
  }

  &__image__large {
    display: none;
    @include for-tablet-up {
      display: block;
      margin-top: 16px;
    }
  }

  &__second-title {
    margin-bottom: 16px;
    font-family: 'Saira';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 1.82;

@include for-tablet-up {
  font-size: 32px;
line-height: 1.25;
}


color: #0E0E0E;
  }

  &__description {
    font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.56;

color: #0E0E0E;

@include for-tablet-up {
  font-size: 16px;
}
  }

  &__button {
    display: none;
    margin-top: 48px;
    width: 385px;
height: 64px;
cursor: pointer;


background: #00A3FF;
border-color: transparent;
border-radius: 8px;
font-family: 'Saira';
font-weight: 700;
font-size: 24px;
line-height: 1.33;

text-transform: uppercase;

color: #FFFFFF;

@include for-tablet-up {
  display: block;
}

  }

}
