.footer {
height: 188px;
background: rgba(0, 163, 255, 0.08);
display: flex;
justify-content: space-around;
align-items: center;

@include for-tablet-up {
    height: 256px;
}

&__logo {
    display: none;

    @include for-tablet-up {
        display: block;
    }
}

&__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include for-tablet-up {
        gap: 24px;

    }

    &__item {
        font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.6;

color: rgba(14, 14, 14, 0.6);
cursor: pointer;

    }
}

&__contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__item {
        font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;

color: #0E0E0E;
cursor: pointer;

    }
}
}