.hero {
  background-color: #234ecd;
  background-image: url(../images/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1033px;
    padding-left: 35px;
  padding-right: 35px;

  @include for-tablet-up {
    background-image: url(../images/background.desktop.jpg);
  }

  &__content {
    max-width: 360px;
    padding-top: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @include for-tablet-up {
      max-width: 650px;
      padding-top: 200px;
    }

    @include for-desktop-up {
      max-width: 980px;
      padding-top: 300px;
    }
  }

  &__title {
    font-family: 'Oswald';
    font-style: normal;
    font-size: 32px;
    line-height: 1.5;

    text-transform: uppercase;

    margin-bottom: 32px;

    color: #0e0e0e;

    @include for-tablet-up {
      font-size: 48px;
      margin-bottom: 24px;
    }

    @include for-desktop-up {
      font-size: 56px;
    }
  }

  &__description {
    margin-bottom: 32px;

    font-family: 'Saira';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.56;

color: #0E0E0E;

@include for-tablet-up {
  font-size: 24px;
  margin-bottom: 24px;

}
}

&__button {
  @include for-small-phone {
    width: 300px;
}
cursor: pointer;

margin-right: auto;
margin-left: auto;
width: 321px;
height: 64px;

background-color: #00A3FF;
border-color: transparent;
border-radius: 8px;

font-family: 'Saira';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 1.78;

text-transform: uppercase;

color: #FFFFFF;

@include for-tablet-up {
  width: 401px;
  font-size: 24px;
  line-height: 1.3;
}
}
}

// .hero::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: linear-gradient(90deg, rgba(0,0,0,0.1518732492997199) 0%, rgba(255,255,255,0.18548669467787116) 50%, rgba(0,0,0,0.1518732492997199) 100%);

//   pointer-events: none;
// }

.modal__bg {
  width: 400px;
  height: 1600px;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%) rotate(-60deg); /* Застосуйте зміщення відповідно до розміру блоку та повороту */
  background-color: rgba(0, 163, 255, 0.08);
  position: absolute; 
  z-index: -1;
  overflow: hidden;

  @include for-tablet-up {
    display: none;
  }
  
}