.service {
  &__container {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    gap: 10px;
    justify-items: center;

    @include for-small-phone {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  }

  &__title {
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 32px;
    line-height: 2;

    text-transform: uppercase;

    color: #0e0e0e;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 188px;
    height: 287px;

    box-shadow: 0px 4px 4px rgba(159, 159, 159, 0.22);
    border-radius: 8px;

    @include for-small-phone {
      width: 150px;
  }

    &__title {
      font-family: 'Saira';
      font-weight: 600;
      font-size: 14px;
      line-height: 1.86;

      text-align: center;

      color: #0e0e0e;
    }

    &__price {
      font-family: 'Noto Sans Armenian';
font-weight: 400;
font-size: 10px;
line-height: 2.4;

text-align: center;

color: #0E0E0E;
    }

    &__thumb {
      height: 130px;
      padding: 12px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__button {

    margin-left: auto;
    margin-right: auto;
    width: 262px;
height: 48px;

border: #56C0FC;
background: #56C0FC;
border-radius: 8px;
font-family: 'Saira';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.5;

text-transform: uppercase;

color: #FFFFFF;
  }

}

.button-container {
  margin-top: 32px;
  display: flex;
  align-items: center;
}
